<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
       
</head>
<body style="background-color:#1e1e1e;">
    <div class="logo-container">
        <img src="images/snap.jpg" alt="logo">
        <div class="title_logo">Snap AI</div>
    </div>    
    <div class="mainbox">
        <div class="nav-item">
            <a href="Chatbot.html">
                <button class="nav-button">
                    <i class="fas fa-robot"></i>
                </button>
            </a>
            <span class="nav-label">AI Chat</span>
        </div>
        
        <div class="nav-item">
            <a href="index.html">
                <button class="nav-button">
                    <i class="fas fa-camera"></i>
                </button>
            </a>
            <span class="nav-label">Camera</span>
        </div>
        
        <div class="nav-item">
            <a href="ERMAP.html">
                <button class="nav-button">
                    <i class="fas fa-map-marked-alt"></i>
                </button>
            </a>
            <span class="nav-label">Map</span>
        </div>
    </div>
    
    <div class="emergency-container">
        <a href="index.html">
            <button class="emergency-button">
                <i class="fas fa-phone-emergency"></i>
            </button>
        </a>
        <span class="nav-label">Emergency Call</span>
    </div>
    <div class="health-tip-container">
        <h1 class="health-tip-heading">Daily Health Tip</h1>
        <h2 class="h_tip">Eat healthy: Eat more fruits, vegetables, whole grains, lean meats, and fish. Limit unhealthy foods, saturated fat, sugar, and salt.</h2>
    </div>
    
</body>
</html>

