<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"/>
</head>
<body style="background-color:#355F80;">
</body>
    <div class='mainbox'>
        <h1></h1>
    </div>

    <div class='gphoto'>
        <h1>Good Photo</h1>
    </div>

    <div class='bphoto'>
        <h1>Bad Photo</h1>
    </div>

    <div class = "ebutton">
        <a href="index.html">
            <button class="emergency_button"></button>
        </a>
    </div>
    <div class="ebutton_writing">Emergency Call</div>


    <div class = "aibutton">
        <a href="Chatbot.html">
            <button class="ai_button"></button>
        </a>
    </div>

    <div class="aibutton_writing">Talk To Snap AI</div>


    <div class="mbutton">
        <a href="index.html">
            <button class="map_button"></button>
        </a>
    </div>

    <div class="mapbutton_writing">Medical Map</div>

    <div class = "cbutton">
        <a href="index.html">
            <button class="camera_button"></button>
        </a>
    </div>

    <div class="cambutton_writing">Camera</div>

</body>
</html>