.mainbox {
    background: #42789D;
    z-index: -1;
    height: 36%;
    width: 102%;
    position: fixed;
    top: 80%;
    left: -1%;
    border-radius: 30px;
    display: flex;
    flex-direction: row;  /* Keep buttons in a row */
    align-items: center;
    justify-content: space-around;
    border-radius: 50%/100px 100px 0 0;
}


.map_button {
    width: 110px;
    height: 110px;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-left: -10%;  
    margin-bottom: 110%;
}

.ai_button {
    width: 110px;
    height: 110px;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-left: 10%; 
    margin-bottom: 110%;
}

.camera_button {
    width: 130px;
    height: 130px;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-bottom: 105%;
}

.emergency_button {
    width: 120px;
    height: 120px;
    background-size: cover;
    border: none;
    cursor: pointer;
    margin-top: 10%;
    margin-left: 70%;
}

.camera_button {
    background-image: url('images/logo.jpg');
    border-radius: 50%;
}

.map_button {
    background-image: url('images/map.jpg');
    border-radius: 5%;
}

.emergency_button {
    background-image: url('images/ecall.jpg');
    border-radius: 5%;
}

.ai_button {
    background-image: url('images/robot.jpg');
    border-radius: 5%;
}

.ebutton_writing {
    color: white;
    margin-left: 69.2%;
    font-size: 130%;
}
